@import "tailwindcss";

@theme {
  /* Colores oficiales de Sintaxis Lab */
  --color-fucsia-lab: #E61C8C;
  --color-violeta-lab: #A3249E;
  --color-naranja-lab: #FF5C33;
  --color-negro-lab: #000000;

  /* Animación de brillo personalizada */
  --animate-pulse-slow: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

:root {
  background: var(--color-negro-lab);
  color: white;
  font-family: 'Inter', sans-serif;
}
